{% extends "base.html" %}

{% block title %}Профіль користувача{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2 class="mb-3"> Профіль користувача</h2>

  <div class="card">
    <div class="card-body">
      <p><strong>Ім'я користувача:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <a href="{% url 'profile_edit' %}" class="btn btn-primary btn-sm">Редагувати профіль</a>
      <a href="{% url 'password_change' %}" class="btn btn-secondary btn-sm">Змінити пароль</a>
    </div>
  </div>
</div>
{% endblock %}
